<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<header class="container text-center">
    <p> My Reading List </p>
</header>
<div class="review-add">
    <button class="btn btn-default btn-lg"> Create Review </button>
</div>
<section class="book_list container-fluid" ng-controller="ReadingListController as readListCtrl" >
    <div class="book col-xs-12 col-sm-6" ng-repeat="book in readListCtrl.books">
        <aside class="col-sm-3">
            <a href="https://www.amazon.com/dp/{{ book.isbn }}"> <img src="http://images.amazon.com/images/P/{{ book.isbn }}.01.20TRZZZZ.jpg" alt="Cover of Book Title" class="full" /> </a>
            <p class="rating"> {{ book.rating }}/5 </p>
        </aside>
        <div class="col-sm-9">
            <h2><a href="https://www.amazon.com/dp/{{ book.isbn }}"> {{ book.title }} </a> </h2>
            <cite> Written by: {{ book.author }} </cite>
            <p> "{{ book.review }}"</p>

            <ul class="list-unstyled">
                <li>
                    <span class="label label-danger" ng-repeat="(genre, state) in book.genres" ng-show="state"> {{ genre }} </span>
                </li>
            </ul>
        </div>
    </book>
</section>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
